<%# TASKS %>
<%# - create condition of if user is signed in, can show this material %>
<%# - Add links, like link to Index page, and maybe to create event %>
<%# - Add button to sign out %>


<h1><%= @user.name %>'s Profile</h1>

<!-- Show all events created by a user-->
<h2>My Events</h2>

<% if @user.created_events.any? %>
    <ul>
        <% @user.created_events.each do |event| %>
            <li><%= event.name %></li>
        <% end %>
    </ul>
<% else %>
    <p>You currently have no events.</p>
<% end %>

<!-- TASK: Add link to event name User can click to go to the event's show page -->